# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter plugin files
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IntelliJ / Android Studio / VS Code
.idea/
*.iml

# Misc
*.log
*.tmp
*.swp
.DS_Store
.env.groq.local
